Active random walkers simulate trunk trail formation by ants.pdf
Class_Automaton.mws
Rule30.mw
Toward chemical-trail following robots.pdf
plan.jpeg
Trail formation based on directed pheromone.pdf
Ant Simulation.mp4
CLAUDE.md
alpha2.png
alpha.png
std.jpg
mean_steps.csv
nants.csv
nants.csv
alpha.csv
alpha2.csv
Active random walkers.pdf
.gitignore
alpha4.png
.gitignore
steps.png
steps2.png
alpha3.png
ant_simulation.gif
